@model Laboratorio5.Web.Areas.Game.Game.IndexViewModel
@{
    ViewData["Title"] = "Seleziona uno sfidante";
}

@*
    ES4: MIGLIORATE INTERFACCIA
*@
<div>
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <form autocomplete="off" class="onit-form-sm" action="@Url.Action(MVC.Game.Game.Play())" id="form_post" method="post">

                    <section class="mt-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="UtenteSfidante"></label>
                                <input v-if="model.utenteSfidante" type="hidden" name="idUtenteSfidante" v-model="model.utenteSfidante.id" />

                                <vue-multiselect class="form-select-sm"
                                                 v-model="model.utenteSfidante"
                                                 track-by="id"
                                                 label="email"
                                                 select-label=""
                                                 deselect-label=""
                                                 :allow-empty="false"
                                                 placeholder="Seleziona uno sfidante"
                                                 :show-labels="true"
                                                 :searchable="true"
                                                 :internal-search="false"
                                                 :show-no-options="showNoOptions"
                                                 :options="sfidanti"
                                                 @@open="filter => cercaSfidanti(filter)"
                                                 @@search-change="filter => cercaSfidanti(filter)">
                                </vue-multiselect>
                            </div>
                        </div>
                    </section>

                    <button class="btn btn-success" type="submit">
                        Sfida
                    </button>
                </form>
            
                <form autocomplete="off" class="onit-form-sm" action="@Url.Action(MVC.Game.Game.JoinGame())" id="form_post" method="post">
                    <section class="mt-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Unisciti a partita</label>
                                <input name="idPartita" />
                            </div>
                        </div>
                    </section>

                    <button class="btn btn-success" type="submit">
                        Unisciti a partita
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/css/bundle-vue-multiselect.css" asp-append-version="true" rel="stylesheet" />
}

@section scripts{
    <script src="~/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/js/bundle-vue-multiselect.js" asp-append-version="true"></script>
    <script src="~/Areas/Game/Game/Index.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(Model.ToJson())
    </script>
    <script type="text/javascript">
        // ES1: VUE E VUE MULTISELECT
        var viewModel = new Game.Game.indexViewModel(JSON.parse(document.getElementById("Seed_JSON").innerText));

        Vue.component("vue-multiselect", VueMultiselect.Multiselect);

        var vueModel = new Vue({
            el: '#pageId',
            data: viewModel
        });
    </script>
}